body {
  background-color: #f6f6f6;
}

.container {
  padding: 0;
}

/* active and deactive categories link */
.activeElem {
  color: #5d5fef !important;
}
.desactiveElem {
  background-color: none;
}

/* navbar css */
.brand-name {
  background-color: #5d5fef;
  padding: 5px 8px;
  border-radius: 5px;
  color: white;
  font: bold;
}

.active {
  color: #5d5fef !important;
  font-size: bold;
}

.active a {
  color: #5d5fef !important;
  font-size: bold;
}

.nav-item .nav-link:hover {
  color: #5d5fef;
}

/* categories css */

#categorie-lists {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

#categorie-lists li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.753);
  font-size: 18px;
  text-align: center;
}

#categorie-lists li {
  border-bottom: 1px solid #5d5fefb4;
  padding: 5px;
  margin: 2px;
}

#categorie-lists li a:hover {
  color: #5d5fef;
}

/* news section */

.single-news {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin: 25px 0;
}

.single-news-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.author-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.single-news-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.author-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solid {
  cursor: pointer;
  color: #121472;
}

/* modal */
.modal-author-img img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 50%;
}

/* media queries */

@media screen and (max-width: 992px) {
  #categorie-lists {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
  }
  #categorie-lists li {
    background-color: rgba(233, 233, 233, 0.274);
    margin: 5px;
    padding: 8px 5px;
    text-align: center;
    border-radius: 5px;
  }
}
@media screen and (max-width: 776px) {
  .single-news {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .author-container {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  #categorie-lists {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
  }
}
